// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";

	virtual_vcc: vcc-regulator {
                compatible = "regulator-fixed";
                regulator-name = "virtual-vcc";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-always-on;  // 标记为持续开启
	};

        adc-keys {
                status = "disabled";
        };

        dht11_sensor {
                status = "disabled";
        };
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	
	//sdio
	cap-sdio-irq;
	non-removable;	
	no-1-8-v;
	supports-sdio;

	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 */
&spi0 {
        status = "okay";
        pinctrl-0 = <&spi0m0_clk &spi0m0_mosi &spi0m0_cs0>;
        spidev@0 {
                status = "disabled";
                spi-max-frequency = <20000000>;
        };

        fbtft@0{
                compatible = "sitronix,st7789v";
                reg = <0>;
                spi-max-frequency = <24000000>;
                fps = <60>;
                width = <240>;     // 水平分辨率
                height = <135>;    // 垂直分辨率
                rotate = <0>;
                buswidth = <8>;
                debug = <0x7>;
                power-supply = <&virtual_vcc>;
                led-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;//BL
                dc-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;      //D-h C-l
                reset-gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_LOW>;    //RES
                init = <
                        0x1000001// 复位
                        0x2000064// 延时 100 ms
                        0x1000011// 退出睡眠模式
                        0x2000078// 延时 120 ms  
                        // 0x1000036 0x60//设置显示方向
                        0x100003A 0x55// 设置颜色格式为 16 位 RGB
                        0x1000020
                        0x10000B2 0x01 0x01 0x00 0x01 0x01
                        0x10000B7 0x35

                        0x10000BB 0x35
                        0x10000C0 0x2C
                        0x10000C2 0x01
                        0x10000C3 0x0B
                        0x10000C4 0x20

                        0x1000051 0xFF
                        0x10000C6 0x00
                        0x10000D0 0xA4 0xA1

                        0x10000E0 0xD0 0x00 0x02 0x07 0x0B 0x1A 0x31 0x54 0x40 0x29 0x12 0x12 0x17 
                        0x10000E1 0xD0 0x00 0x02 0x07 0x05 0x25 0x2D 0x44 0x45 0x1C 0x18 0x16 0x1C 

                        0x1000021
                        0x1000028
                        0x1000029// 开启显示
                >;
        };
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "disabled";
};
