// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1106.dtsi"
#include "rv1106-luckfox-pico-zero-ipc.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/display/media-bus-format.h>

/ {
	model = "Luckfox Pico Zero";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1106g3";

	restart-poweroff {
		compatible = "restart-poweroff";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart1m0_rtsn>;
		pinctrl-1 = <&uart1_gpios>;
		BT,wake_gpio     = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	virtual_vcc: vcc-regulator {
		compatible = "regulator-fixed";
		regulator-name = "virtual-vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;  // 标记为持续开启
	};

	// lcd_vcc: lcd-vcc {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "lcd-vcc";
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&gpio3_pd1>;
	// 	regulator-min-microvolt = <3300000>;
	// 	regulator-max-microvolt = <3300000>;
	// 	regulator-always-on;  // 标记为持续开启
	// };

	adc-keys {
		status = "disabled";
	};

	out_osc_mia1321: out-osc-mia1321 {
		status = "disabled";
	};

	out_osc_imx415: out-osc-imx415 {
		status = "disabled";
	};

	out_osc_sc3336: out-osc-sc3336 {
		compatible = "fixed-clock";
		clock-output-names = "out-osc-sc3336";
		clock-frequency = <24000000>;
		#clock-cells = <0>;
	};

	cam_ircut0: cam_ircut {
		status = "disabled";
	};

};

/**********CRU**********/
&cru {
	assigned-clocks =
		<&cru PLL_GPLL>, <&cru PLL_CPLL>,
		<&cru ARMCLK>,
		<&cru ACLK_PERI_ROOT>, <&cru HCLK_PERI_ROOT>,
		<&cru PCLK_PERI_ROOT>, <&cru ACLK_BUS_ROOT>,
		<&cru PCLK_TOP_ROOT>, <&cru PCLK_PMU_ROOT>,
		<&cru HCLK_PMU_ROOT>, <&cru CLK_500M_SRC>;
	assigned-clock-rates =
		<1188000000>, <700000000>,
		<1104000000>,
		<400000000>, <200000000>,
		<100000000>, <300000000>,
		<100000000>, <100000000>,
		<200000000>, <700000000>;
};

/**********NPU**********/
&npu {
	assigned-clock-rates = <700000000>;
};

/**********EMMC**********/
&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	// mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	no-sdio;
	no-sd;
	memory-region-ecsd = <&mmc_ecsd>;
	post-power-on-delay-ms = <0>;
	status = "okay";
};

&fiq_debugger {
	rockchip,irq-mode-enable = <1>;
	status = "okay";
};

/**********SDIO-WIFI**********/
&sdmmc {
	max-frequency = <50000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	//non-removable;
	rockchip,default-sample-phase = <90>;
	// no-sd;
	// no-mmc;
	supports-sdio;
	mmc-pwrseq = <&sdio_pwrseq>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_bus4 &sdmmc0_det>;
	status = "okay";
};

&pinctrl{
	sdmmc0{
		sdmmc0_det: sdmmc0-det {
			rockchip,pins =
				/* sdmmc0_det */
				<3 RK_PA1 1 &pcfg_pull_up>;
		};
	};
};

/**********SD_CARD**********/
&sdio {
	max-frequency = <50000000>;
	no-sdio;
	no-mmc;
	supports-sd;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1m0_cmd &sdmmc1m0_clk &sdmmc1m0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
	//dr_mode = "host";
};

/**********RTC**********/
&rtc {
	status = "okay";
};

/**********BT**********/
&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&pinctrl {
	wireless-bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&uart3 {
	status = "disabled";
};
&uart4 {
	status = "disabled";
};


/**********SPI**********/
&pinctrl {
	gpio1-pd0 {
		gpio1_pd0:gpio1-pd0 {
			rockchip,pins = <1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0m0_clk &spi0m0_mosi &spi0m0_cs0>;

	spidev@0 {
		status = "disabled";
		spi-max-frequency = <50000000>;
	};

	fbtft@0{
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <24000000>;
		fps = <60>;
		width = <135>;     // 水平分辨率
		height = <240>;    // 垂直分辨率
		x-offset = <40>;
		y-offset = <53>;
		rotate = <270>;
		buswidth = <8>;
		debug = <0x7>;
		power-supply = <&virtual_vcc>;
		led-gpios = <&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>;		//BL
		dc-gpios = <&gpio1 RK_PC3 GPIO_ACTIVE_HIGH>;     	 //D-h C-l
		reset-gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_LOW>;    //RES
		init = <
			0x1000001// 复位
			0x2000064// 延时 100 ms
			0x1000011// 退出睡眠模式
			0x2000078// 延时 120 ms  
			// 0x1000036 0x60//设置显示方向
			0x100003A 0x55// 设置颜色格式为 16 位 RGB
			0x1000020
			0x10000B2 0x01 0x01 0x00 0x01 0x01
			0x10000B7 0x35

			0x10000BB 0x35
			0x10000C0 0x2C
			0x10000C2 0x01
			0x10000C3 0x0B
			0x10000C4 0x20

			0x1000051 0xFF
			0x10000C6 0x00
			0x10000D0 0xA4 0xA1

			0x10000E0 0xD0 0x00 0x02 0x07 0x0B 0x1A 0x31 0x54 0x40 0x29 0x12 0x12 0x17 
			0x10000E1 0xD0 0x00 0x02 0x07 0x05 0x25 0x2D 0x44 0x45 0x1C 0x18 0x16 0x1C 

			0x1000021
			0x1000028
			0x1000029// 开启显示
		>;
	};

};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_input0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&sc3336_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy_output: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&i2c4 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	sc3336: sc3336@30 {
		compatible = "smartsens,sc3336";
		status = "okay";
		reg = <0x30>;
		clocks = <&out_osc_sc3336>;
		clock-names = "xvclk";
		pwdn-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_refclk_out0>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2119-PC1";
		rockchip,camera-module-lens-name = "30IRC-F16";
		port {
			sc3336_out: endpoint {
				remote-endpoint = <&csi_dphy_input0>;
				data-lanes = <1 2>;
			};
		};
	};

	mia1321: mia1321@60 {
		status = "disabled";
	};

	imx415: imx415@37 {
		status = "disabled";
	};
};

&pinctrl {
	cam {
		status = "disabled";
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
};

&i2c3 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;
};

//大灯
&pwm10 {
	status = "okay";
	pinctrl-0 = <&pwm10m2_pins>;
};
//rgb灯
&pwm3 {
	status = "okay";
	pinctrl-0 = <&pwm3m1_pins>;
};

&pwm0 {
	status = "disabled";
	pinctrl-0 = <&pwm0m1_pins>;
};
&pwm1 {
	status = "disabled";
	pinctrl-0 = <&pwm1m0_pins &pwm1m1_pins &pwm1m2_pins>;
};
&pwm2 {
	status = "disabled";
	pinctrl-0 = <&pwm2m0_pins &pwm2m1_pins &pwm2m2_pins>;
};

&pwm4 {
	status = "disabled";
	pinctrl-0 = <&pwm4m0_pins &pwm4m1_pins &pwm4m2_pins>;
};
&pwm5 {
	status = "disabled";
	pinctrl-0 = <&pwm5m1_pins &pwm5m2_pins>;
};
&pwm6 {
	status = "disabled";
	pinctrl-0 = <&pwm6m1_pins &pwm6m2_pins>;
};
&pwm7 {
	status = "disabled";
	pinctrl-0 = <&pwm7m0_pins &pwm7m1_pins>;
};
&pwm8 {
	status = "disabled";
	pinctrl-0 = <&pwm8m1_pins>;
};
&pwm9 {
	status = "disabled";
	pinctrl-0 = <&pwm9m1_pins>;
};
&pwm11 {
	status = "disabled";
	pinctrl-0 = <&pwm11m1_pins &pwm11m2_pins>;
};